<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-ngstyle></app-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-ngcontent>
    <div class='titulo'>Titulo</div>
    <div class='corpo'>Conteúdo passado para o componente.</div>
    <div class='corpo'>Conteúdo passado para o componente. 2</div>
</app-ngcontent> -->
<app-diretivas-customizadas></app-diretivas-customizadas>